@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor01: #262626;
  --cor02: #8c8c8c;
  --cor03: #bfbfbf;
  --cor04: #f2f2f2;
  --cor05: #3873a6;
  --fonteprincipal: "Bebas Neue", sans-serif;
  --fontsecundaria: "Patrick Hand", cursive;
}

html,
body {
  min-height: 100vh;
  background-color: var(--cor02);
}

header {
  background-color: var(--cor05);
  color: var(--cor04);
  text-align: center;
}

header h1 {
  font-size: 10vw;
  font-family: var(--fonteprincipal);
  padding: 50px;
  padding-bottom: 0px;
  text-align: center;
}

header p {
  padding-bottom: 50px;
  padding-top: 0px;
  font-size: 60px;
}

a {
  color: var(--cor04);
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  font-size: 60px;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--fontsecundaria);
  font-size: 3vh;
  background-size: cover;
  background-attachment: fixed;
}

section#img01 {
  background-image: url(imagens/background001.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}

section#img02 {
  background-image: url(imagens/background002.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}

.imagem > p {
  display: inline-block;
  background-color: rgba(42, 94, 161, 0.329);
  padding-right: 60px;
  padding: 5px;
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

.normal {
  background-color: var(--cor03);
}

.imagem {
  color: var(--cor04);
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.349);
}

footer {
  background-color: var(--cor05);
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  font-size: 60px;
}
